/* 카페 내부 */
table {
    /* 가운데정렬 */
    margin-left:auto; 
    margin-right:auto;
    font-size: 1rem;
    color: #f2f1e7;
    background-color: #d1bfb7d2;
    width: 90vw;
    max-width: 500px;
    height: 40vh;
    border: 2px solid #444444;
}

/* 좌석모양 */
.seat {
    background-color: #ad968d;
    border-radius: 5px;
}

