.fullsize {
  min-height: 100vh;
  display: grid;
}
.header {
  color: #f2f1e7;
  height: 15vh;
  min-height: 60px;
  width: 100%;
  background-color: #a96851;
  text-align: center;
}

body {
  background-color: #f2f1e7;
  height: 20vh;
  margin: 0;
  padding: 0;
  font-family: 'Nanum Gothic', sans-serif;
}

.main {
  text-align: center;
}