.fullsize {
  min-height: 100vh;
  display: grid;
}
h1 {
  color: #f2f1e7;
  height: 20% 30px;
  width: 100%;
  background-color: #a96851;
  text-align: left;
  padding: 10px 10px 10px 10px;
}
body {
  background-color: #f2f1e7;
}
.main {
  text-align: center;
}
