footer {
  color: #f2f1e7;
  font-size: 0.5rem;
  padding: 10px 10px 10px 10px;
  background-color: #5c4d4d;
  text-align: left;
  width: 100%;
  height: 10vh;
  /* 제일 아래에 고정 */
  bottom: 0px;
  position: absolute;
}
