footer {
  color: #f2f1e7;
  font-size: 0.5rem;
  padding: 10px 10px 10px 10px;
  background-color: #5c4d4d;
  text-align: left;
  font-family: 'Nanum Gothic', sans-serif;
  width: 100%;
  height: 10vh;
  bottom: 0px;
  position: absolute;
}
