.join {
  font-size: 0.7rem;
  font-weight: bold;
}

.idAndPasswd,
.join,
.login {
  margin: 10px 30px 10px 30px;
}

.idAndPasswd {
  display: grid;
  grid-template-rows: 40px 40px;
}

/* 로그인 실패 시 */
.loginFailed {
  display: none;
}
